html
  head
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    title
    style(type='text/css').
      @font-face {
      font-family: 'KhmerOS';
      src: url('assets/fonts/KhmerOS.eot');
      src: url('assets/fonts/KhmerOS.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/KhmerOS.woff2') format('woff2'),
      url('assets/fonts/KhmerOS.woff') format('woff'),
      url('assets/fonts/KhmerOS.ttf') format('truetype'),
      url('assets/fonts/KhmerOS.svg#@{icon-font-svg-id}') format('svg');
      }
      * {
      margin: 0;
      padding: 0;
      line-height: 21px;
      font-size: 14px;
      }
      [lang="kh"] {
      font-size: 15px;
      font-family: sans-serif;
      }
      [lang="en"] {
      font-size: 14px;
      font-family: sans-serif;
      }
      .container {
      width: 1005px;
      margin: 0 auto;
      page-break-before: always;
      }
      .vat-invoice {
      font-weight: bold;
      padding-left: 5px;
      font-size: 20px;
      }
      .vat-invoice-en {
      line-height: 30px;
      }
      #header {
      margin-bottom: 30px;
      }
      #address {
      border-bottom: 1px inset #000;
      margin-bottom: 15px;
      padding-bottom: 15px;
      }
      .table {
      width: 1005px;
      }
      table, th, td {
      vertical-align: top
      }      
      td:nth-child(4n) {
      text-align: right;
      margin-right: 5px;
      }
      td:last-child {
      padding-left: 15px;
      width: 183px;
      }
      .table-goods td:last-child{
      text-align: right;
      }
      .table-goods {
      border-spacing: 0;
      border-collapse: collapse;
      }
      .table-goods tr:nth-child(2) td {
      border: 0;
      padding-bottom: 15px;
      border-bottom: 1px inset #000;
      }
      .table-goods tr:nth-child(3) td {
      padding-top: 15px;
      }
      .sub-total,
      .grand-total {
      border-top: 1px inset #000;
      border-bottom: 1px inset #000;
      }
      .sub-total td,
      .grand-total td {
      padding: 15px 0;
      text-align: right;
      }
      .total td {
      padding-top: 15px;
      }
      .vat td {
      padding-bottom: 15px;
      }
      .summary {
      text-align: right;
      }
      .summary td:nth-child(3) {
      width: 175px;
      }
      .footer {
      margin-top: 30px;
      margin-bottom: 45px;
      }
      .payment-options {
      float: left;
      }
      .payment-options ul {
      list-style: none;
      }
      .signature {
      float: right;
      }
      .account-info {
      margin-top: 15px;
      }
      .sign-place {
      margin-top: 90px;
      }
      .clear {
      clear: both;
      }
      .kh-pay { 
      width: 225px; 
      padding-left: 1px;
      }
      .en-pay {
      width: 225px;
      margin-top: 5px;
      padding-left: 1px;
      }
  body
    .container
      section#header
        strong.vat-invoice
          | វិក្កយប័ត្រអាករ
        p.vat-invoice-en(lang='en') VAT INVOICE
        p 
          span(lang='kh') លេខអត្តសញាណកម្ម អតប
          span(lang='en')
            | /VAT TIN:
            = ' ' + invoice.tin
      section#address
        table.table
          tr
            td(lang='kh') ឈ្មោះអតិថិជន:
            td(lang='kh')= invoice.customer.kh_name
            td  
            td 
              span(lang='kh') ទំព័រ
              span(lang='en') /Page No. :
            td(lang='en')= invoice.pageNumber
          tr
            td(lang='en') Bill To:
            td(lang='en')= invoice.customer.en_name
            td  
            td 
              span(lang='kh') លេខរៀងវិក្កយប័ត្រ
              span(lang='en') /Invoice No. :
            td(lang='en')
              = invoice.invoice.number
          tr
            td(lang='kh') អាស័យដ្ឋាន:
            td(lang='en')
              = invoice.customer.kh_address1
            td  
            td 
              span(lang='kh') កាលបរិច្ឆេទ
              span(lang='en') /Invoice Dt. :
            td(lang='en')
              = invoice.invoice.date
          tr
            td
            td(lang='kh')
              = invoice.customer.kh_address2
            td  
            td 
              span(lang='kh') លេខរៀងការបញ្ជាទិញ
              span(lang='en') /S.O.No. :
            td(lang='en')
              = invoice.soNumber
          tr
            td(lang='en') Address:
            td(lang='en')
              = invoice.customer.en_address1
              br
            td  
            td 
              span(lang='kh') កិច្ចសន្យាលេខ
              span(lang='en') /Contract No. :
            td(lang='en')
              = invoice.contract.number
          tr
            td
            td(lang='en')
              = invoice.customer.en_address2
            td  
            td
              span(lang='kh') កាលបរិច្ឆេទនៃកិច្ចសន្យា
              span(lang='en') /Contract Dt. :
            td(lang='en')
              = invoice.contract.date
          tr
            td(lang='en') C.Code:
            td(lang='en')
              = invoice.cCode
            td  
            td(lang='kh') រយះពេលទូទាត់ :
            td(lang='kh') ៧ថ្ងៃបន្ទាប់ពីទទួលបានវិក្កយប័ត្រ
          tr
            td(lang='en') VAT:
            td(lang='en')
              = invoice.vat
            td  
            td(lang='en') Terms :
            td(lang='en')
              = invoice.contract.terms1
          tr
            td(lang='en') Contact:
            td(lang='en')
              = invoice.contact
            td  
            td
            td(lang='en')
              = invoice.contract.terms2
      section.goods-list
        table.table.table-goods
          tr
            td(lang='kh') លេខរៀង
            td(lang='kh') កូតទំនិញ/សេវា
            td(lang='kh') បរិយាយមុខទំនិញ/សេវា
            td(lang='kh') បរិមាណ
            td(lang='kh') ចំនួនទឺកប្រាក់
          tr
            td(lang='en') Line
            td(lang='en') Item Code
            td(lang='en') Item Description
            td(lang='en') No.of Spot
            td(lang='en') US$ Amount
          each lineItem in invoice.lineItems
            tr
              td(lang='en')
                = lineItem.line
              td(lang='en')
                = lineItem.codeItem
              td(lang='en')
                = lineItem.description
              td(lang='en')
                = lineItem.spot
              td(lang='en')
                = lineItem.amount
          - var n = invoice.lineItems.length
          while 30 - n > 0
            tr
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              td &nbsp;
              - n++
          if invoice.subTotal
            tr
              td(colspan='5')  
            tr
              td(colspan='5')  
            tr.summary.sub-total
              td(colspan='2')  
              td
                span(lang='kh') សរុបទំព័រទី
                = invoice.khmerPageNumber
              td(lang='en')
                = "Sub Total Page No. " + invoice.pageNumber + ":"
              td(lang='en')
                = invoice.subTotal
          else
            tr.summary.total
              td(colspan='2')  
              td(lang='kh') សរុប
              td(lang='en') Total :
              td(lang='en')
                = invoice.total
            tr.summary.vat
              td(colspan='2')  
              td(lang='kh') អាករលើតម្លៃបន្ថែម ១០%
              td(lang='en') VAT 10% :
              td(lang='en')
                = invoice.vat10
            tr.summary.grand-total
              td(colspan='2')  
              td(lang='kh') សរុបរួម
              td(lang='en') GRAND TOTAL:
              td(lang='en')
                = invoice.grandTotal
      if !invoice.subTotal
        section.footer
          .payment-options
            p.kh-pay(lang='kh') ការទូទាត់អាចធ្វើឡើងតាមមូលឡបទានប័ត្រ ឬ តាមរយៈការទូទាត់នៅធនាគារ
            p.en-pay(lang='en') Payment can be made by Cheque or Bank Tansfer payable to :
            ul.account-info
              li(lang='en')
                | Account Name:&nbsp;
                = invoice.account.name
              li(lang='en')
                | Account No:&nbsp;
                = invoice.account.number
              li(lang='en')
                | Bank Name:&nbsp;
                = invoice.account.bank_name
              li(lang='en')
                | SWIFT Code:&nbsp;
                = invoice.account.swift_code
          .signature
            p(lang='kh') ហត្ថលេខា
            p(lang='en') Authorized Signature
            p.sign-place
            | ------------------------------
          .clear

